 {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Detecting A Twitter Cyberbullying using Machine Learning</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top-bar-left">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-bar-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg bg-dark navbar-dark" style="color:wheat;">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand"> <span style="color:wheat;">A twitter Cyberbullying</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'AdminHome' %}" class="nav-item nav-link">Home</a>
                        <a href="{% url 'RegisterUsersView' %}" class="nav-item nav-link">User Details</a>
                      
                        <a href="{% url 'index' %}" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 style="color:grey;">
                    </div>
                    <div class="col-12">
<!--                        <a href="">Home</a>-->
<!--                        <a href="">About Us</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
                {%block contents%}
<!--<div class="container" style="margin-top:-60px;">-->
        <!--<h2 align="center">Hellooo</h2>-->
{%endblock%}
<br><br><br><br><br><br><br><br><br>



        <!-- About Start -->

            <!-- <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p align="center">&copy; <a href="#"></p>
                    </div>
                    <div class="col-md-6">
                       <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>-->
                    <!-- </div>
                </div>
            </div>
        </div> -->
        <!-- Footer End -->

        <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>  -->

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
