{% extends 'users/userbase.html'%}
{%block contents%}

 <section id="intro">

    <div class="intro-text">
<!--        <div class="container" style="margin-top:-200px;">-->

      <p><h3 align="center" style="color:white; font-weight:bold;">Test Predictions</h3></p>
          <center>
          <h3>Given {{test_data}} and <br>Result is <font color="RED">{{msg}}</font></h3>
        <form action="{%url 'predictTrustWorthy'%}" class="control-form" method="post">
            {%csrf_token%}
            <table class="sm-table">
            <tr>
                <td>Enter any text</td>
                <td><textarea name="news" required rows="7" cols="50" /></textarea></td>
            </tr>

            <tr><td></td><td><button type="submit" class="btn-primary">Submit</button> </td></tr>
            </table>
        </form>


        </center>


            </div>
        </div><!--/.row-->


  </section>
{%endblock%}